# Interim private publishing target (until the public license lands).
# Publishing @aleup/* to GitHub Packages requires the GitHub namespace "aleup".
@aleup:registry=https://npm.pkg.github.com
link-workspace-packages=true
